@tailwind base;
@tailwind components;
@tailwind utilities;

select:focus-within ~ label {
  @apply z-[1] -translate-y-5 scale-75 transform px-2 py-0  text-grey duration-300;
  @apply text-blue-500;
}

select:focus-within ~ label,
select:not([value='']):valid ~ label {
  @apply z-[1] -translate-y-5 scale-75  transform px-2 py-0 text-grey;
}
